@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@plugin "daisyui";

@theme {
  --color-mainColor: #d9176c;
  --font-open: "Open Sans", sans-serif;
}
